html {
  font-size: 16px;
}

#cabecalho {
  font-size: 62.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: blue;
  font-family: serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-family: serif;
  color: gray(3, 233, 214);
  font-size: 5em;
  text-align: center;
}

h2 {
  font-family: serif;
  color: gray(0, 255, 255, 0.11);
  font-size: 2em;
  text-align: left;
}
nav {
  font-weight: bold;
}

form {
  border: 1px;
  color: gray;
  padding: 10px;
}

p {
  color: rgba(21, 141, 21, 0.863);
}

button {
  background-color: blue;
  color: white;
}

footer {
  border-top: 2px solid red;
}
#conteudo-principal {
  line-height: 1.5;
  padding: 50px;
  background-color: #c3f6f8;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 20px;
  background-color: #f0f0f03b;
  color: #333;
  border: 3px solid #cccccc2f;
}

.link {
  display: inline-block;
  margin: 0 5% 1% 5%;
  border: solid 2px rgb(0, 255, 106);
  background-color: rgba(0, 255, 170, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: rgba(0, 255, 170, 0.692);
  }

  a {
    text-decoration: none;
    color: rgba(0, 255, 191, 0.486);

    img {
      display: inline-block;
      width: 50%;
    }
  }
}

#menu ul {
  text-align: center;
}
